In [1]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.getOrCreate()

23/05/28 17:55:18 WARN Utils: Your hostname, lucia-VirtualBox resolves to a loopback address: 127.0.1.1; using 10.0.2.15 instead (on interface enp0s3)
23/05/28 17:55:18 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
23/05/28 17:55:19 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
23/05/28 17:55:23 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.

In [19]:
df = spark.read.json('201906_Usage_Bicimad.json')

In [20]:
df.show()
df.count()

+---------------+--------------------+--------+-----------+--------------+-------------+----------------+-----+-----------+--------------------+--------------------+---------+--------+
|_corrupt_record|                 _id|ageRange|idplug_base|idplug_station|idunplug_base|idunplug_station|track|travel_time|     unplug_hourTime|       user_day_code|user_type|zip_code|
+---------------+--------------------+--------+-----------+--------------+-------------+----------------+-----+-----------+--------------------+--------------------+---------+--------+
|           null|{5cf83b752f3843a0...|       0|         21|            66|            8|              90| null|        219|{2019-06-01T00:00...|e4d55deb9ac172a8d...|        1|        |
|           null|{5cf83b762f3843a0...|       4|         19|           136|           19|              71| null|        359|{2019-06-01T00:00...|8a0c4123e924a50a9...|        1|   28039|
|           null|{5cf83b762f3843a0...|       4|         17|            38|            7|              39| null|        375|{2019-06-01T00:00...|a6a9c1f74a6849600...|        1|   28013|
|           null|{5cf83b762f3843a0...|       5|          4|            90|           21|              66| null|        264|{2019-06-01T00:00...|5706c0bd494acc022...|        1|   28009|
|           null|{5cf83b762f3843a0...|       4|          3|           166|           13|             152| null|        367|{2019-06-01T00:00...|eb1b6d32bd4add5d5...|        1|   28006|
|           null|{5cf83b762f3843a0...|       5|         14|            53|            4|              55| null|        174|{2019-06-01T00:00...|c2905f6038aa9523d...|        1|   28907|
|           null|{5cf83b762f3843a0...|       0|          2|           129|            6|             133| null|        308|{2019-06-01T00:00...|f94420744ea060ac4...|        1|        |
|           null|{5cf83b762f3843a0...|       4|         21|           169|            3|             153| null|        462|{2019-06-01T00:00...|e75471af2ea032a32...|        1|   28003|
|           null|{5cf83b762f3843a0...|       0|         24|           129|           14|              44| null|        482|{2019-06-01T00:00...|c0d73ee753773a3bf...|        1|        |
|           null|{5cf83b762f3843a0...|       4|         11|           133|           21|              85| null|        480|{2019-06-01T00:00...|47ecd557f21ca7aee...|        1|   28004|
|           null|{5cf83b762f3843a0...|       5|          2|            83|           18|              31| null|        546|{2019-06-01T00:00...|87ccc3f59b45ef261...|        1|   28007|
|           null|{5cf83b762f3843a0...|       0|          7|            53|           15|              38| null|        519|{2019-06-01T00:00...|05bd8e0842cbfadb8...|        1|        |
|           null|{5cf83b762f3843a0...|       4|         24|            13|           17|             118| null|        374|{2019-06-01T00:00...|812870450df33ac5c...|        1|   39316|
|           null|{5cf83b762f3843a0...|       4|         13|            10|            9|              27| null|        188|{2019-06-01T00:00...|c828f824a86378bf0...|        1|   28012|
|           null|{5cf83b762f3843a0...|       4|          2|            74|           20|              90| null|        133|{2019-06-01T00:00...|538fc94c0d298f7ee...|        1|   28045|
|           null|{5cf83b762f3843a0...|       0|         17|            54|           21|             100| null|        514|{2019-06-01T00:00...|53a9f79ec4c6d60c2...|        1|        |
|           null|{5cf83b762f3843a0...|       4|         12|            83|            5|              67| null|        517|{2019-06-01T00:00...|b27886fecd2db0f3c...|        1|   28008|
|           null|{5cf83b762f3843a0...|       4|          5|            83|            3|              67| null|        525|{2019-06-01T00:00...|eee03ef92db2fe559...|        1|   28019|
|           null|{5cf83b762f3843a0...|       0|          9|           163|            5|              63| null|        351|{2019-06-01T00:00...|b61ef9ebd0342c431...|        1|        |
|           null|{5cf83b762f3843a0...|       0|         22|            84|            7|              42| null|        483|{2019-06-01T00:00...|01bf069d0732b2b01...|        1|        |
+---------------+--------------------+--------+-----------+--------------+-------------+----------------+-----+-----------+--------------------+--------------------+---------+--------+
only showing top 20 rows

450811

In [21]:
df = df.drop('user_day_code','zip_code','idplug_base','idunplug_base','track')
df.show()

+---------------+--------------------+--------+--------------+----------------+-----------+--------------------+---------+
|_corrupt_record|                 _id|ageRange|idplug_station|idunplug_station|travel_time|     unplug_hourTime|user_type|
+---------------+--------------------+--------+--------------+----------------+-----------+--------------------+---------+
|           null|{5cf83b752f3843a0...|       0|            66|              90|        219|{2019-06-01T00:00...|        1|
|           null|{5cf83b762f3843a0...|       4|           136|              71|        359|{2019-06-01T00:00...|        1|
|           null|{5cf83b762f3843a0...|       4|            38|              39|        375|{2019-06-01T00:00...|        1|
|           null|{5cf83b762f3843a0...|       5|            90|              66|        264|{2019-06-01T00:00...|        1|
|           null|{5cf83b762f3843a0...|       4|           166|             152|        367|{2019-06-01T00:00...|        1|
|           null|{5cf83b762f3843a0...|       5|            53|              55|        174|{2019-06-01T00:00...|        1|
|           null|{5cf83b762f3843a0...|       0|           129|             133|        308|{2019-06-01T00:00...|        1|
|           null|{5cf83b762f3843a0...|       4|           169|             153|        462|{2019-06-01T00:00...|        1|
|           null|{5cf83b762f3843a0...|       0|           129|              44|        482|{2019-06-01T00:00...|        1|
|           null|{5cf83b762f3843a0...|       4|           133|              85|        480|{2019-06-01T00:00...|        1|
|           null|{5cf83b762f3843a0...|       5|            83|              31|        546|{2019-06-01T00:00...|        1|
|           null|{5cf83b762f3843a0...|       0|            53|              38|        519|{2019-06-01T00:00...|        1|
|           null|{5cf83b762f3843a0...|       4|            13|             118|        374|{2019-06-01T00:00...|        1|
|           null|{5cf83b762f3843a0...|       4|            10|              27|        188|{2019-06-01T00:00...|        1|
|           null|{5cf83b762f3843a0...|       4|            74|              90|        133|{2019-06-01T00:00...|        1|
|           null|{5cf83b762f3843a0...|       0|            54|             100|        514|{2019-06-01T00:00...|        1|
|           null|{5cf83b762f3843a0...|       4|            83|              67|        517|{2019-06-01T00:00...|        1|
|           null|{5cf83b762f3843a0...|       4|            83|              67|        525|{2019-06-01T00:00...|        1|
|           null|{5cf83b762f3843a0...|       0|           163|              63|        351|{2019-06-01T00:00...|        1|
|           null|{5cf83b762f3843a0...|       0|            84|              42|        483|{2019-06-01T00:00...|        1|
+---------------+--------------------+--------+--------------+----------------+-----------+--------------------+---------+
only showing top 20 rows

In [7]:
df1 = df.filter(df["user_type"]<=1 )
df1.show()
df1.count()

+---------------+--------------------+--------+--------------+----------------+-----------+---------+
|_corrupt_record|                 _id|ageRange|idplug_station|idunplug_station|travel_time|user_type|
+---------------+--------------------+--------+--------------+----------------+-----------+---------+
|           null|{5cf83b752f3843a0...|       0|            66|              90|        219|        1|
|           null|{5cf83b762f3843a0...|       4|           136|              71|        359|        1|
|           null|{5cf83b762f3843a0...|       4|            38|              39|        375|        1|
|           null|{5cf83b762f3843a0...|       5|            90|              66|        264|        1|
|           null|{5cf83b762f3843a0...|       4|           166|             152|        367|        1|
|           null|{5cf83b762f3843a0...|       5|            53|              55|        174|        1|
|           null|{5cf83b762f3843a0...|       0|           129|             133|        308|        1|
|           null|{5cf83b762f3843a0...|       4|           169|             153|        462|        1|
|           null|{5cf83b762f3843a0...|       0|           129|              44|        482|        1|
|           null|{5cf83b762f3843a0...|       4|           133|              85|        480|        1|
|           null|{5cf83b762f3843a0...|       5|            83|              31|        546|        1|
|           null|{5cf83b762f3843a0...|       0|            53|              38|        519|        1|
|           null|{5cf83b762f3843a0...|       4|            13|             118|        374|        1|
|           null|{5cf83b762f3843a0...|       4|            10|              27|        188|        1|
|           null|{5cf83b762f3843a0...|       4|            74|              90|        133|        1|
|           null|{5cf83b762f3843a0...|       0|            54|             100|        514|        1|
|           null|{5cf83b762f3843a0...|       4|            83|              67|        517|        1|
|           null|{5cf83b762f3843a0...|       4|            83|              67|        525|        1|
|           null|{5cf83b762f3843a0...|       0|           163|              63|        351|        1|
|           null|{5cf83b762f3843a0...|       0|            84|              42|        483|        1|
+---------------+--------------------+--------+--------------+----------------+-----------+---------+
only showing top 20 rows

397252

In [8]:
df2 = df1.filter(df["idplug_station"]!= df["idunplug_station"] )
df2.show()
df2.count() #descartamos los trayectos de una estación en si misma.

+---------------+--------------------+--------+--------------+----------------+-----------+---------+
|_corrupt_record|                 _id|ageRange|idplug_station|idunplug_station|travel_time|user_type|
+---------------+--------------------+--------+--------------+----------------+-----------+---------+
|           null|{5cf83b752f3843a0...|       0|            66|              90|        219|        1|
|           null|{5cf83b762f3843a0...|       4|           136|              71|        359|        1|
|           null|{5cf83b762f3843a0...|       4|            38|              39|        375|        1|
|           null|{5cf83b762f3843a0...|       5|            90|              66|        264|        1|
|           null|{5cf83b762f3843a0...|       4|           166|             152|        367|        1|
|           null|{5cf83b762f3843a0...|       5|            53|              55|        174|        1|
|           null|{5cf83b762f3843a0...|       0|           129|             133|        308|        1|
|           null|{5cf83b762f3843a0...|       4|           169|             153|        462|        1|
|           null|{5cf83b762f3843a0...|       0|           129|              44|        482|        1|
|           null|{5cf83b762f3843a0...|       4|           133|              85|        480|        1|
|           null|{5cf83b762f3843a0...|       5|            83|              31|        546|        1|
|           null|{5cf83b762f3843a0...|       0|            53|              38|        519|        1|
|           null|{5cf83b762f3843a0...|       4|            13|             118|        374|        1|
|           null|{5cf83b762f3843a0...|       4|            10|              27|        188|        1|
|           null|{5cf83b762f3843a0...|       4|            74|              90|        133|        1|
|           null|{5cf83b762f3843a0...|       0|            54|             100|        514|        1|
|           null|{5cf83b762f3843a0...|       4|            83|              67|        517|        1|
|           null|{5cf83b762f3843a0...|       4|            83|              67|        525|        1|
|           null|{5cf83b762f3843a0...|       0|           163|              63|        351|        1|
|           null|{5cf83b762f3843a0...|       0|            84|              42|        483|        1|
+---------------+--------------------+--------+--------------+----------------+-----------+---------+
only showing top 20 rows

388817

In [9]:
df3 = df2.filter(df["idplug_station"]== df["idunplug_station"] )
df3.show()
df3.count()#comprobamos que efectivamente no hay trayectos de una estación en si misma

+---------------+---+--------+--------------+----------------+-----------+---------+
|_corrupt_record|_id|ageRange|idplug_station|idunplug_station|travel_time|user_type|
+---------------+---+--------+--------------+----------------+-----------+---------+
+---------------+---+--------+--------------+----------------+-----------+---------+

0

In [10]:
df2.groupBy('ageRange').count().show()

+--------+------+
|ageRange| count|
+--------+------+
|       0|172485|
|       6|  2167|
|       5| 79649|
|       1|   537|
|       3| 20328|
|       2|  1786|
|       4|111865|
+--------+------+

In [28]:
from pyspark.sql.functions import collect_list, struct
dfg = df2.groupBy('_id').\
    agg(collect_list(struct('idunplug_station','idplug_station')).alias('trayectos_1sentido'))

dfg.show()

#realmente necesitamos que en esta primera columna aparezcan los trayectos de froma que la primera coordenada sea la 
#más pequeña y la segunda la más grande para que cuando hagamos el groupBy no distinga el sentido.

+--------------------+------------------+
|                 _id|trayectos_1sentido|
+--------------------+------------------+
|{5cf83b752f3843a0...|        [{90, 66}]|
|{5cf83b762f3843a0...|       [{71, 136}]|
|{5cf83b762f3843a0...|        [{39, 38}]|
|{5cf83b762f3843a0...|        [{66, 90}]|
|{5cf83b762f3843a0...|      [{152, 166}]|
|{5cf83b762f3843a0...|        [{55, 53}]|
|{5cf83b762f3843a0...|      [{133, 129}]|
|{5cf83b762f3843a0...|      [{153, 169}]|
|{5cf83b762f3843a0...|       [{44, 129}]|
|{5cf83b762f3843a0...|       [{85, 133}]|
|{5cf83b762f3843a0...|        [{31, 83}]|
|{5cf83b762f3843a0...|        [{38, 53}]|
|{5cf83b762f3843a0...|       [{118, 13}]|
|{5cf83b762f3843a0...|        [{27, 10}]|
|{5cf83b762f3843a0...|        [{90, 74}]|
|{5cf83b762f3843a0...|       [{100, 54}]|
|{5cf83b762f3843a0...|        [{67, 83}]|
|{5cf83b762f3843a0...|        [{67, 83}]|
|{5cf83b762f3843a0...|       [{63, 163}]|
|{5cf83b762f3843a0...|        [{42, 84}]|
+--------------------+------------------+
only showing top 20 rows

In [13]:
import pandas
dfg1 = dfg.groupBy('trayectos_1sentido').count().pandas_api()

/home/lucia/.local/lib/python3.10/site-packages/pyspark/pandas/__init__.py:50: UserWarning: 'PYARROW_IGNORE_TIMEZONE' environment variable was not set. It is required to set this environment variable to '1' in both driver and executor sides if you use pyarrow>=2.0.0. pandas-on-Spark will set it for you but it does not work if there is a Spark context already launched.
  warnings.warn(

In [14]:
dfgorder = dfg1.nlargest(int(.01*len(dfg1.index)),["count"])

In [15]:
dfgorder

      trayectos_1sentido  count
20068         [(9, 149)]    299
7903         [(49, 135)]    228
4054        [(135, 132)]    219
16734        [(135, 49)]    204
25388       [(169, 149)]    201
6353        [(163, 149)]    188
7777          [(149, 9)]    184
19479       [(132, 135)]    182
1870        [(149, 130)]    181
13998       [(149, 169)]    179
17323       [(163, 157)]    178
26616       [(130, 149)]    173
4209          [(78, 64)]    172
1027        [(149, 163)]    170
15606       [(135, 175)]    169
3903         [(52, 135)]    164
9884        [(175, 132)]    159
22187        [(58, 149)]    159
10347        [(57, 135)]    158
26951       [(132, 175)]    157
2515         [(27, 175)]    156
13746        [(26, 175)]    156
5050          [(9, 157)]    155
12694        [(129, 47)]    154
14823        [(149, 58)]    152
2357         [(175, 26)]    151
5804          [(57, 38)]    149
12557       [(157, 163)]    144
21381         [(64, 78)]    144
16583       [(163, 118)]    143
23887         [(175, 1)]    143
16136       [(135, 129)]    142
26010       [(175, 135)]    140
1442         [(48, 129)]    139
24102        [(129, 38)]    139
4056        [(129, 135)]    138
7260         [(56, 175)]    136
22593        [(115, 83)]    136
13989       [(160, 161)]    135
21636        [(149, 59)]    135
2593        [(163, 160)]    132
7614         [(45, 135)]    132
10717         [(64, 90)]    131
21093       [(161, 145)]    131
3075          [(90, 79)]    130
19954         [(163, 9)]    129
20777       [(168, 118)]    128
26083         [(26, 57)]    128
586         [(163, 153)]    127
9962         [(47, 129)]    126
13038       [(175, 129)]    126
22320         [(9, 163)]    126
3754         [(135, 57)]    125
13979        [(129, 57)]    125
15139       [(162, 163)]    125
26236        [(42, 135)]    125
14433         [(90, 64)]    124
23191        [(135, 42)]    124
6224        [(118, 163)]    123
13841        [(131, 59)]    121
23361        [(129, 49)]    121
25130       [(157, 130)]    121
297         [(135, 133)]    120
9882         [(175, 42)]    119
23209         [(90, 86)]    119
24964        [(49, 129)]    119
25844         [(19, 55)]    119
25975       [(160, 163)]    119
2355         [(175, 38)]    118
13559        [(57, 129)]    118
3773        [(139, 154)]    117
7347         [(30, 163)]    117
23189       [(174, 132)]    117
8077         [(38, 129)]    116
10591        [(135, 52)]    116
16031         [(1, 175)]    116
16607       [(149, 168)]    115
19344        [(135, 38)]    115
20483        [(129, 45)]    115
2762         [(157, 30)]    114
22168        [(128, 57)]    114
18800        [(157, 58)]    113
19390        [(175, 27)]    113
22738         [(57, 42)]    112
23047       [(169, 170)]    112
11286         [(84, 90)]    111
4072        [(129, 134)]    110
4938        [(129, 175)]    110
5218        [(134, 129)]    110
13893         [(84, 64)]    110
14712        [(19, 161)]    110
27621        [(57, 136)]    110
9587          [(157, 9)]    109
12020        [(175, 25)]    109
27205       [(168, 149)]    109
2960         [(163, 19)]    108
16894       [(153, 163)]    108
22178       [(132, 174)]    108
23261         [(2, 175)]    108
24527         [(6, 149)]    108
25823        [(50, 135)]    108
7078         [(59, 168)]    107
10249        [(129, 48)]    107
16287         [(38, 57)]    107
16886       [(134, 135)]    107
5049        [(133, 135)]    106
25544       [(139, 149)]    106
9880         [(175, 41)]    105
13706         [(74, 83)]    104
9822          [(19, 90)]    103
15568        [(163, 59)]    103
19071       [(160, 149)]    103
24735        [(175, 56)]    103
27926       [(163, 162)]    102
3366        [(130, 157)]    101
12966        [(57, 128)]    101
1019         [(49, 128)]    100
9752         [(42, 175)]    100
10481         [(55, 49)]    100
11435         [(26, 42)]    100
12979       [(164, 171)]    100
19354        [(133, 49)]    100
19480       [(170, 169)]    100
22182        [(149, 13)]    100
792          [(175, 49)]     99
6825         [(166, 90)]     99
19926       [(166, 163)]     99
8336        [(163, 131)]     98
10856       [(129, 133)]     98
14827       [(163, 170)]     98
17028         [(90, 83)]     98
17922         [(86, 90)]     98
3210        [(130, 156)]     96
15544        [(19, 149)]     96
24676       [(135, 134)]     96
3182         [(45, 129)]     95
4198         [(84, 129)]     95
8460          [(84, 57)]     95
8472         [(135, 50)]     95
22466         [(90, 84)]     95
27218       [(157, 118)]     95
27638         [(86, 73)]     95
20076       [(142, 163)]     94
2943         [(19, 163)]     93
4646        [(169, 157)]     93
4650          [(82, 77)]     93
7412           [(1, 41)]     93
12881       [(164, 145)]     93
27623       [(170, 163)]     93
6536        [(164, 118)]     92
15551         [(90, 19)]     92
4634         [(128, 38)]     91
9836          [(53, 42)]     91
11296        [(83, 115)]     91
12711         [(90, 78)]     91
17239        [(38, 175)]     91
25683       [(161, 149)]     91
28396        [(160, 13)]     91
22460         [(57, 31)]     90
24111         [(27, 41)]     90
28357       [(139, 163)]     90
732         [(164, 149)]     89
6228          [(73, 90)]     89
7221          [(84, 65)]     89
8881         [(149, 20)]     89
11153         [(74, 79)]     89
11982          [(58, 3)]     89
14137         [(46, 62)]     89
27060        [(129, 42)]     89
16125         [(57, 49)]     88
17933         [(53, 83)]     88
18483         [(8, 149)]     88
18777         [(57, 73)]     88
20492         [(79, 74)]     88
21248       [(149, 164)]     88
23969        [(135, 45)]     88
26624       [(149, 160)]     88
3914         [(168, 19)]     87
5644         [(19, 132)]     87
10239       [(163, 156)]     87
11301        [(49, 132)]     87
11847        [(38, 134)]     87
18771         [(6, 157)]     87
27954         [(7, 149)]     87
5556         [(59, 163)]     86
17776        [(59, 149)]     86
19060        [(38, 135)]     86
21283         [(88, 84)]     86
22217        [(41, 132)]     86
23578         [(3, 175)]     86
25818         [(57, 56)]     86
6423         [(35, 175)]     85
12460         [(7, 169)]     85
22186       [(163, 130)]     85
26094       [(136, 128)]     85
1024          [(45, 26)]     84
1452         [(136, 48)]     84
6816         [(168, 59)]     84
8352           [(19, 6)]     84
10255         [(6, 168)]     84
10754        [(34, 135)]     84
12545        [(42, 132)]     84
14981        [(30, 157)]     84
16922        [(128, 49)]     84
18329        [(90, 170)]     84
21149        [(52, 175)]     84
21399        [(127, 83)]     84
22325       [(139, 145)]     84
23073         [(9, 161)]     84
24526        [(51, 135)]     84
15409         [(74, 82)]     83
15410        [(13, 160)]     83
21511       [(133, 129)]     83
22169        [(41, 135)]     83
23539        [(83, 126)]     83
27682        [(58, 157)]     83
2311        [(149, 157)]     82
9954          [(57, 19)]     82
14828       [(168, 160)]     82
14955        [(132, 42)]     82
27038        [(133, 57)]     82
1336        [(171, 164)]     81
6522          [(79, 64)]     81
7215         [(149, 11)]     81
8877        [(153, 168)]     81
9442          [(17, 42)]     81
9734        [(157, 160)]     81
13846         [(49, 55)]     81
16129       [(105, 115)]     81
16295        [(83, 166)]     81
17181         [(57, 26)]     81
27399       [(133, 175)]     81
1173        [(108, 149)]     80
1183         [(55, 133)]     80
6062        [(149, 161)]     80
12895       [(175, 133)]     80
17919         [(6, 160)]     80
18063       [(163, 166)]     80
18542        [(136, 83)]     80
24256        [(17, 168)]     80
26374        [(135, 48)]     80
2460         [(163, 30)]     79
5267           [(41, 1)]     79
8601          [(13, 42)]     79
8927         [(175, 35)]     79
13188        [(175, 57)]     79
17318       [(157, 139)]     79
17342         [(161, 6)]     79
17605         [(42, 26)]     79
24113       [(133, 132)]     79
26009        [(13, 175)]     79
5970         [(83, 127)]     78
7074        [(172, 142)]     78
9748           [(57, 1)]     78
14309       [(146, 155)]     78
22952       [(151, 148)]     78
27535       [(160, 169)]     78
583           [(83, 90)]     77
1449          [(49, 36)]     77
2783          [(45, 78)]     77
4191         [(54, 129)]     77
6937        [(114, 101)]     77
7613          [(57, 13)]     77
7926          [(75, 84)]     77
12835       [(149, 139)]     77
17222        [(114, 92)]     77
17475       [(149, 145)]     77
20194         [(83, 67)]     77
22635         [(83, 53)]     77
23688       [(132, 133)]     77
24253        [(71, 129)]     77
24678          [(90, 3)]     77
1588        [(161, 160)]     76
9602          [(42, 17)]     76
9960         [(42, 116)]     76
10872        [(134, 42)]     76
13134       [(149, 143)]     76
14139         [(149, 6)]     76
16138         [(48, 57)]     76
17923        [(30, 129)]     76
19768         [(57, 45)]     76
20084       [(156, 130)]     76
25568        [(161, 19)]     76
26614         [(13, 57)]     76

In [16]:
len(dfgorder)

284